<?xml version="1.0" encoding="UTF-8"?>
<subtitler>
    <version>1.0</version>
    <urlwin>https://downloads.sourceforge.net/project/renaissannce/Renaissannce/Subtitler_Setup.exe?r=&amp;ts=1329556168&amp;use_mirror=iweb</urlwin>
    <urlosx>https://downloads.sourceforge.net/project/renaissannce/Renaissannce/Subtitler%20Renaissance%20Setup.dmg?r=&amp;ts=1329557171&amp;use_mirror=cdnetworks-us-2</urlosx>
    <urlother>https://downloads.sourceforge.net/project/renaissannce/latest/Windows/Renaissance%20Setup.exe?r=&amp;ts=1329350673&amp;use_mirror=iweb</urlother>
    <size>2200</size>
</subtitler>